# System and IDE files
.DS_Store
desktop.ini
Thumbs.db
.vscode
.idea

# Local environment files
.venv
venv
.env

# Logs and temp files
__pycache__
__pycache__/
*.log
*.tmp
logs/
tmp/
store_lmdb/
*.mdb
*.mdb-lock
lock.mdb
.ruff_cache/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker
*.pid
